'.platform-darwin atom-text-editor':
  'cmd-alt-down': 'gnu-global:go-to-declaration'
  'cmd-alt-up': 'gnu-global:return-from-declaration'

'.platform-linux atom-text-editor':
  'ctrl-alt-down': 'gnu-global:go-to-declaration'
  'ctrl-alt-up': 'gnu-global:return-from-declaration'
